
name: 01 Basic Docker Build With BuildKit Cache

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-image:
    name: Build Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push with BuildKit Cache
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            chandanrawat03/docker-ci-automation:latest
            chandanrawat03/docker-ci-automation:${{ github.sha }}
          cache-from: type=registry,ref=chandanrawat03/docker-ci-automation:buildcache
          cache-to: type=registry,ref=chandanrawat03/docker-ci-automation:buildcache,mode=max
